<!DOCTYPE html>
<html>
    <head>
    <meta name="google-signin-client_id" content="982032467448-lhp2c1m8ne4c0t0un49salaicr8l3j1j.apps.googleusercontent.com">
    </head>
    <body>
    <div id="my-signin2"></div>
    <script>
        function onSuccess(googleUser) {
        console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
        setTimeout(function() {
            window.location.href = "/";
        }, 2000);
        }
        function onFailure(error) {
        console.log(error);
        }
        function renderButton() {
        gapi.signin2.render('my-signin2', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onSuccess,
            'onfailure': onFailure
        });
        }
    </script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    </body>
</html>